html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 1500px;
}

h2 {
    color: white;
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: 0;
}

header {
    min-height: 100vh;
    background-color: #f9f8fb;
    background-image: url(img/strawberry-background.jpg);
    background-size: cover; 
    background-attachment: fixed;
    
    .head {
        height: 150px;
        .nav-top {
            display: flex;
            flex-flow: row wrap;
            .div-logo{
                margin-top: 50px;
                margin-left: 165px;
                margin-right: 470px; 
            }
            ul {
                list-style-type: none;
                // width: 50%;
                margin-top: 50px;
                // margin-right: 165px;
                li {
                    box-sizing: border-box;
                    padding-top: 8px;
                    display: inline-block;
                    margin-left: 30px;
                    text-align: center;


                    a {
                        display: inline-block;
                        width: 100%;
                        text-decoration: none;
                        text-transform: uppercase;
                        color: #000000;
                        font-weight: 600;
                    }
                    
                    hr{
                        height: 3px;
                        background-color: #ff6033;
                        border:transparent;
                        transition: all .5s linear;
                        visibility: hidden;
                        transform: scaleX(0);
                        transform-origin: 0 50%;
                    }               

                }

                .li-scroll:hover hr,
                .li-hr{
                    visibility: visible;
                    transform: scaleX(1);
                    color: red;
                }
                
            }
        }
        

    }
    .navbar-fixed-top{
        position: fixed;
        top:0;
        height: 70px;
        width: 100%;
        background-color: #f9f8fb;  
        z-index: 2;
        transition: all .5s linear;
        -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
        .nav-top {             
            ul {
                margin-top: 5px;
                transition: all .5s linear;
            
            }
            .div-logo {
                margin-top: 5px;
                margin-right: 50px;
                transition: all .5s linear;
                // margin-right: 100px;
            }
        }
    
    }


    .head-cnt {
        width: 385px;
        margin-left: 165px;
        padding-top: 215px;

        h1 {
            font-size: 45px;
            font-weight: 800;
        }

        p {
            font-size: 16px;
            margin-top: 15px;
            line-height: 1.5;
            color: #262626;
        }

        button {
            text-transform: uppercase;
            background-color: #ff6033;
            border: transparent;
            height: 60px;
            width: 200px;
            margin-top: 30px;
            color: #ffffff;
            font-size: 18px;
            -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
            transition: all 0.5s;
            cursor: pointer;

            &:hover {
                background-color: #fa3802;
            }
        }
    }

    .little-mouse {
        display: flex;
        justify-content: center;
        .mouse{
            position: relative;
            bottom: -70px;
        }
    }
}

main {
    #about-us {
        background-color: #00c4c4;
        // background-image: url("img/maliny.png");
        // background-repeat: no-repeat;
        // background-position: ;
        display: flex;
        flex-flow: collumn wrap;
        justify-content: space-around;
        align-items: center;

        .img-malina {
            // margin: bottom left right top;
            img {
                margin: 80px 180px 100px 80px;
            }
        }

        .about-cnt {
            width: 500px;
            color: #ffffff;
            margin-top: 0;
            padding-top: 0;
            margin-right: 156px;

            p {
                line-height: 1.5;
            }
        }
    }

    #our-service{
        display: flex;
        justify-content: space-around;
        background-color: #70bfff;
        .wrap-btn{
             // margin: bottom left right top;
            margin: 180px 265px 0 120px;
            margin-bottom: 150px;

            cursor: pointer;
            .btn-cell{
                background-color: #ffffff;
                margin-bottom: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                width:400px;
                height: 100px;
                text-align: center;
                transition: all .5s ease-in;
                -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
                box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
                .btn-txt{
                    width: 300px;
                    font-weight: 600;
                }
                .btn-image{
                    width: 100px;
                    border-left: solid 2px #9d9d9d;
                }
                &:hover{
                    background-color: #ff6033 ;
                    color: #ffffff;
                }
            }

    
        }

        .wrap-cnt{
            position: relative;
            h2{
                position: absolute;
                top:270px;
                z-index: 1;              
            }
            img{
                // margin: bottom left right top;
                margin-right: 165px;
                margin-top: 100px;
                
            }
        }
    }
    #gallery{
        background-color: #ffe92f;
        .gallery-cnt{
            h2{
                color: #262626;
                margin-top:0;
                padding-top:100px;
                text-align: center;
            }
            p{
                max-width:570px;
                line-height: 1.5;
                color: #262626;
                margin: 30px auto;
                text-align: center;
            }
        }
        .gallery-img{
            display: grid;
            grid-template-columns: repeat(21, 75px);
            grid-template-rows: repeat(15, 75px);
            img{
                -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
                box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
            }
            .img1{
                
                grid-column: 2/13;
                grid-row: 1/8;
                height: 560px;

            }
            .img2{
                grid-column: 14/21;
                grid-row: 1/8;
            }
            .img3{
                grid-column: 14/21;
                grid-row: 5/8;
                align-self: start;
                height: 260px;
                width:404px;
            }
            .img4{
                grid-column: 2/10;
                grid-row: 9/14;

            }
            .img5{
                z-index:1;
                grid-column: 11/21;
                grid-row: 9/14;
            }
        }
        .gallery-btn{
            text-align: center;
            padding-bottom: 118px;
            background-color: #ffe92f;
            button{
                text-transform: uppercase;
                width:200px;
                height: 60px;
                background-color: #5585a2;
                color:#ffffff;
                border: transparent;
                transition: all .5s ease-out;
                cursor: pointer;
                -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
                box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
                font-size: 18px;
                &:hover{
                    background-color: #2c719c ;
                }
            }
        }
    }
    #subscribe-form{
        background-color: #ff6033;
        background-image: url("/img/subscribe-bg.jpg");
        height: 500px;
        .subscribe-cnt{
          padding-top:140px;
            h3{
                margin-left:165px;
                font-size: 40px;
                margin-bottom: 0;
                padding-bottom: 20px;

            }
            p{
               width:570px;
               margin-left:165px;
               padding-top:0;
               margin-top:0;
               margin-left:165px;
               padding-bottom:0;
               margin-bottom:0;
               line-height: 1.5;
               color: #262626; 
            }
        }
        form{
            display: flex;
            flex-flow: row wrap;
             margin-top: 0; 
             padding-top: 0;        
            #email-form{
                box-sizing: border-box;
                width:570px;
                height: 50px;
                border-color: #262626;
                margin-left:165px;
                padding-left:15px;
                margin-top:40px;
            }
            .btn-form{
                text-transform: uppercase;
                width: 170px;
                height: 50px;
                color: #ffffff;
                background-color: #96b92c;
                border:transparent;
                margin-left: 30px;
                align-self: flex-end;
                font-size: 18px;
                -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
                box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
                transition: all .5s ease-out;
                cursor: pointeraqq;
                &:hover{
                    background-color: #7a9722;
                }
        }
    }
}

#blog{
    background-color: #b07cf7;
    .blog-cnt{
        padding-top: 95px;
        h2{
           text-align: center;
           
        }
        p{
           max-width: 570px;
           line-height: 1.5;
           margin: 0 auto;
           padding-top: 30px;
           color: #ffffff;
           text-align: center;
        }
    }
    .blog-img{
        margin-top: 45px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        .img-1,
        .img-2,
        .img-3{

            -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
            box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
            width: 370px;
            height: 328px;
            margin-left: 30px;
            display: grid;
            grid-template-columns: 60px repeat(6,54px);
            grid-template-rows: repeat(5, 60px);
            transition: all .5s;
            cursor: pointer;
            background-position: center center;
            background-size: cover;
            // transition-duration: .7;
            &:hover{
                transform: scale(1.2);
            }
        }
           .img-date{
            background-color: rgba(0, 0, 0, 0.397);
            grid-column: 2/3;
            grid-row: 2/3;
            text-align: center;
            border-radius: 5px;
            p{
                color:#ffffff;
                font-weight: 600;
                
                &:first-child{
                    margin-top: 0;
                    padding-top: 5px;
                    font-size:32px; 
                   
                }                
                &:last-child{
                    margin-top:-35px;
                    padding-top: 0;
                }
            }
           } 
           .img-cnt{
            grid-column: 2/7;
            grid-row:4/6;
            width: 100%;
            p{
                margin-left: -30px;
                color:#ffffff;
                text-shadow: 4px 4px 8px #000000;
                &:first-child{
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 1.5;
                    
                }
                &:last-child{
                    font-size:14px;
                    padding-bottom:0 ;
                    line-height: 3;
                }
            }
           }

        .img-1{
            // background-image: url("img/blog/blog1.jpg");
            background:linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%), url('img/blog/blog1.jpg');
        }
        .img-2{
            background:linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%), url('img/blog/blog2.jpg');
        }
        .img-3{
            background:linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%), url('img/blog/blog3.jpg');
        }
    }
    .blog-btn{
        display: flex;
        justify-content: center;
        margin-top: 40px;
        padding-bottom: 120px;
        button{
            background-color: #f72b3b;
            border: transparent;
            width: 200px;
            height: 57px;
            color: #ffffff;
            font-size: 18px;
            transition: all .5s;
            text-transform: uppercase;
            cursor: pointer;
            &:hover{
                background-color: #bd0111;
            }
        }
    
    }

    }   

}