html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 1500px;
}

h2 {
  color: #ffffff;
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 0;
  padding-bottom: 0;
}

header {
  height: 1000px;
  background-color: #f9f8fb;
  background-image: url(img/strawberry-background.jpg);
}

header .head {
  height: 150px;
}

header .head .nav-top ul {
  list-style-type: none;
  float: right;
  margin-right: 165px;
  margin-top: 60px;
}

header .head .nav-top ul li {
  box-sizing: border-box;
  padding-top: 8px;
  float: left;
  margin-left: 30px;
  text-align: center;
}

header .head .nav-top ul li::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ff6033;
  margin: 0 auto;
  margin-bottom: 5px;
  transition: all .5s linear;
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: 0 50%;
}

header .head .nav-top ul li:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

header .head .nav-top ul li:first-child::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ff6033;
  visibility: visible;
  transform: scaleX(1);
}

header .head .nav-top ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-weight: 600;
}

header .head .logo {
  float: left;
  margin-top: 50px;
  margin-left: 165px;
}

header .head-cnt {
  width: 385px;
  margin-left: 165px;
  margin-top: 215px;
}

header .head-cnt h1 {
  font-size: 45px;
  font-weight: 800;
}

header .head-cnt p {
  font-size: 16px;
  margin-top: 15px;
  line-height: 1.5;
  color: #262626;
}

header .head-cnt button {
  text-transform: uppercase;
  background-color: #ff6033;
  border: transparent;
  height: 60px;
  width: 200px;
  margin-top: 30px;
  color: #ffffff;
  font-size: 18px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.5s;
  cursor: pointer;
}

header .head-cnt button:hover {
  background-color: #fa3802;
}

header .little-mouse {
  display: flex;
  justify-content: center;
}

header .little-mouse .mouse {
  position: relative;
  bottom: -270px;
}

main #about-us {
  background-color: #00c4c4;
  display: flex;
  flex-flow: collumn wrap;
  justify-content: space-around;
  align-items: center;
}

main #about-us .img-malina img {
  margin: 80px 180px 100px 80px;
  clear: both;
}

main #about-us .about-cnt {
  width: 500px;
  color: #ffffff;
  margin-top: 0;
  padding-top: 0;
  margin-right: 200px;
}

main #about-us .about-cnt p {
  line-height: 1.5;
}

main #our-service {
  display: flex;
  justify-content: space-around;
  background-color: #70bfff;
}

main #our-service .wrap-btn {
  margin: 180px 265px 0 120px;
  margin-bottom: 150px;
  cursor: pointer;
}

main #our-service .wrap-btn .btn-cell {
  background-color: #ffffff;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100px;
  text-align: center;
  transition: all .5s ease-in;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

main #our-service .wrap-btn .btn-cell .btn-txt {
  width: 300px;
  font-weight: 600;
}

main #our-service .wrap-btn .btn-cell .btn-image {
  width: 100px;
  border-left: solid 2px #9d9d9d;
}

main #our-service .wrap-btn .btn-cell:hover {
  background-color: #ff6033;
  color: #ffffff;
}

main #our-service .wrap-cnt {
  position: relative;
}

main #our-service .wrap-cnt h2 {
  position: absolute;
  top: 270px;
  z-index: 1;
}

main #our-service .wrap-cnt img {
  margin-right: 165px;
  margin-top: 100px;
}

@media (max-width: 800px) {
  main #about-us .img-malina {
    width: 100%;
  }
  main #about-us .about-cnt {
    width: 100%;
  }
}
